@import '~@/assets/css/mixin.scss';
.goods {
  margin-top: 0.24rem;
  background-color: #fff;
  .goods-title{
    font-size: 0.16rem;
    font-weight: 500;
    padding: 0.16rem 0.08rem;
    border-bottom: 0.01rem solid #e5e5e5;
  }
  .goods-list {
    .goods-list-item {
      padding: 0.16rem 0.08rem 0.08rem 0.08rem;
      border-bottom: 0.01rem solid #e5e5e5;
      @include clearfix;
      .goods-list-item__img {
        float: left;
        img {
          height: 0.96rem;
          width: 0.96rem;
          border-radius: 0.04rem;
        }
      }
      .goods-list-item__desc {
        padding-left: 1.08rem;
        .label {
          font-size: 0.14rem;
          padding-top: 0.08rem;
          @include omit;
        }
        .price {
          font-size: 0.12rem;
          padding-top: 0.08rem;
          @include desc;
          .rice {
            @include price;
          }
          .del {
            font-size: 0.1rem;
            padding-left: 0.08rem;
          }
        }
        .tip {
          padding-top: 0.08rem;
          @include omit;
          @include desc;
        }
      }
    }
  }
}
