@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';
.subnav{
  margin-bottom: half(16px);
  .nav{
    @include clearfix;
    background: #fff;
    &-item{
      float: left;
      width: 25%;
      padding: half(48px) 0;
      text-align: center;
      .icon{
        height: half(88px);
        width: half(88px);
        border-radius: 50%;
        display: block;
        margin: auto;
      }
      .label{
        margin-top: half(16px);
        font-size: half(22px);
        color: #333b46;
        line-height: half(18px);
      }
    }
  }
}
