.news {
  position: relative;
  margin: 0.08rem;
  padding: 0.08rem 0;
  background: #fff;
  .logo {
    width: 0.73rem;
    height: 0.16rem;
    float: left;
    padding: 0 0.08rem;
  }
  .list {
    &-item {
      font-size: 0.12rem;
      display: none;
      &.is-active {
        display: block;
        width: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .move {
    position: absolute;
    top: 0.08rem;
    right: 0.08rem;
    font-size: 0.12rem;
    border-left: 1px solid #ddd;
    padding-left: 0.08rem;
  }
}
