@import '~@/assets/css/function.scss';
@import '~@/assets/css/variable.scss';

#mineBill {
  background-color: #fff;
  li {
    display: flex;
    justify-content: space-between;
    padding: half(27px) half(40px) 0;
    .left {
      display: flex;
      flex-direction: column;
      .type {
        color: $font-color-black;
        font-size: half(32px);
        margin-bottom: half(22px);
      }
      .time {
        color: #bfc7cc;
        font-size: half(28px);
      }
    }
    .right {
      color: $font-color-black;
      font-size: half(32px);
      &.active {
        color: #45adff;
      }
    }
  }
}
