html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
section,
th,
td,
div {
  margin: 0;
  padding: 0;
}
ul,
ol,
dl {
  list-style-type: none;
}
html,
body {
  *position: static;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  font-family: 'Microsoft Yahei', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, tahoma, arial, Verdana, sans-serif,
    'WenQuanYi Micro Hei', '\5B8B\4F53';
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button {
  overflow: visible;
  vertical-align: middle;
  outline: none;
}
body,
th,
td,
button,
input,
select,
textarea {
  font-family: 'Microsoft Yahei', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, tahoma, arial, Verdana, sans-serif,
    'WenQuanYi Micro Hei', '\5B8B\4F53';
  font-size: 12px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body {
  line-height: 1.6;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
a,
area {
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    outline: none;
  }
  &.ie6:hover {
    zoom: 1;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
/*img*/
img {
  border: 0;
  vertical-align: middle;
}
a img,
img {
  -ms-interpolation-mode: bicubic;
}
input[type='number'] {
  &::-webkit-inner-spin-button {
    height: auto;
  }
  &::-webkit-outer-spin-button {
    height: auto;
  }
}
input[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}
