* {
  padding: 0;
  margin: 0;
}
html,
body {
  margin: auto;
  font-family: 'Microsoft Yahei', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, tahoma, arial, Verdana, sans-serif,
    'WenQuanYi Micro Hei', '\5B8B\4F53';
  color: #333;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
}
