@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';
.lists {
  &-item {
    padding: half(16px) half(32px) half(30px);
    background: #fff;
    overflow: hidden;
    position: relative;
    border-bottom: half(1px) solid #ddd;
    &:last-child {
      border: 0;
    }
    .imgs {
      float: left;
      width: half(170px);
      height: half(170px);
      background: #ccc;
      img{
        height: 100%;
        width: 100%;
      }
    }
    .info {
      margin: half(8px) half(8px) half(8px) half(186px);
      .label {
        font-size: half(28px);
        margin-bottom: half(32px);
        color: #333b46;
        height: half(30px);
        line-height: half(30px);
        @include omit;
        width: half(474px);
      }
      .desc {
        color: #bbc0cb;
        font-size: half(24px);
        @include omit;
        width: half(300px);
        line-height: half(26px);
        margin-bottom: half(8px);
      }
      .price {
        color: #fc8a04;
        position: absolute;
        right: half(32px);
        bottom: half(32px);
        font-size: half(20px);
        .total {
          font-size: half(40px);
        }
      }
    }
  }
}
