@import '~@/assets/css/function.scss';
@import '~@/assets/css/mixin.scss';
.entry {
  .searchWrapper {
    background: rgba(7, 139, 243, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: half(80px);
    padding: 0 half(16px);
    z-index: 999;
    display: flex;
    @include clearfix;
    .selectbox{
      margin-right: half(32px);
      position: relative;
      color: #fff;
      height: 100%;
      line-height: half(80px);
      .label{
        max-width: half(180px);
        margin-right: half(10px);
        @include omit;
        font-size: half(26px);
        float: left;
      }
    }
    .inputbox{
      flex: 1;
    }
  }
}
